.articles-container {
  height: 100%;

  .media {
    &:nth-child(even) {
      background-color: white;
    }
    &:nth-child(odd) {
      background-color: whitesmoke;
    }
    &.selected {
      background-color: lightblue;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}
