<ul class="articles-container list-unstyled overflow-auto" *ngIf="articles?.length > 0; else emptyList">
    <li class="media px-3 py-3" role="button" *ngFor="let article of articles" (click)="onSelectArticle(article)"
        [ngClass]="{'selected': selectedArticle?.id === article.id}">
        <img [src]="article.image" class="mr-3" alt="...">
        <div class="media-body overflow-hidden">
            <h5 class="mt-0 mb-1">{{article.title}}</h5>
            <p class="text-truncate">{{article.content}}</p>
        </div>
    </li>
</ul>

<ng-template #emptyList>
    <div class="articles-container list-unstyled overflow-auto">
        Empty!!
    </div>
</ng-template>